html, body{
    position:absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.choose-player-wrapper > div{
    margin: 10px;
}
#grid{
    position: absolute;
    left: 0px; 
    top: 0px; 
    z-index: 0;
}
#selectGrid{
    position: absolute; 
    left: 0px; 
    top: 0px; 
    z-index: 1;
}
input::placeholder{
    text-align: center;
}